<mat-card class="dialog-container">

  <h3 class="dialog-title label-color">Create Movie Form</h3>

  <form fxLayout="column" fxFill
        [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"/>
    </mat-form-field>

    <app-upload-file-input [isValid]="!pictureHasErrors" (loadFileEvent)="onFileLoaded($event)"></app-upload-file-input>

<!--    <mat-form-field appearance="fill" floatLabel="auto">-->
<!--      <mat-label>Poster</mat-label>-->
<!--      <input matInput formControlName="picture"/>-->
<!--    </mat-form-field>-->

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Income</mat-label>
      <input matInput formControlName="income" class="number-input" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year" class="number-input" type="number">
    </mat-form-field>


    <div fxLayout="row"
         fxLayoutAlign="space-between center" fxFill>
      <button mat-raised-button type="button" color="accent" (click)="onCloseClicked()">Close</button>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="form.invalid" (click)="onCloseClicked()">{{getSubmitBtnText(dialogType)}}
      </button>
    </div>

  </form>

</mat-card>
