<section class="page-content" fxLayoutAlign="space-between">

  <div class="users-container" >
    <mat-card *ngFor="let u of users" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="user-card-username">{{u.username}}</span>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select (selectionChange)="onChangedRole(u.id, $event)" [value]="u.role">
          <mat-option [value]="UserRole.ADMIN">Admin</mat-option>
          <mat-option [disabled]="u.id === this.authService.currentUser.id" [value]="UserRole.MODERATOR">Moderator</mat-option>
          <mat-option [disabled]="u.id === this.authService.currentUser.id" [value]="UserRole.REGULAR">Regular</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>

</section>
