<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center">
  <span>Movie App</span>
  <nav class="navbar">
    <a *ngFor="let opt of navOptions;" [ngClass]="opt.selected ? 'navbar-opt navbar-opt-toggled' : 'navbar-opt'"
       [routerLink]="opt.routingUrl" (click)="onOptionChanged(opt.id)">{{opt.label}}</a>
  </nav>
  <span>
    <button *ngIf="showAddMovieBtn" mat-raised-button [style.margin-right]="'20px'" (click)="openAddMovieDialog()">Add Movie</button>
    <button *ngIf="showManageUsersBtn" mat-raised-button (click)="openManageUsersDialog()">Manage Users</button>
  </span>
  </div>
  <div fxLayoutAlign="space-between center">
    <button mat-icon-button color="accent" (click)="switchTheme()">
      <mat-icon>{{isLightTheme ? 'dark_mode' : 'light_mode'}}</mat-icon>
    </button>
    <a class="header-user-name">{{user.username}}</a>
    <button class="header-user-action" mat-icon-button color="warn" (click)="authenticated ? logout() : showLogin()">
      <mat-icon>{{authenticated ? 'logout' : 'login'}}</mat-icon>
    </button>
  </div>
</mat-toolbar>
