<mat-toolbar class="header" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center">
    <span>Movie App</span>
    <nav class="navbar" *ngIf="showForDesktop">
      <a *ngFor="let opt of navOptions;" [ngClass]="opt.selected ? 'navbar-opt navbar-opt-toggled' : 'navbar-opt'"
         [routerLink]="opt.routingUrl" (click)="onOptionChanged(opt.id)">{{opt.label}}</a>
    </nav>
  </div>
  <div fxLayoutAlign="space-between center" *ngIf="showForDesktop">
    <button mat-icon-button color="light" (click)="switchTheme()">
      <mat-icon>{{isLightTheme ? 'dark_mode' : 'light_mode'}}</mat-icon>
    </button>
    <a class="header-user-name">{{user.username}}</a>
    <button class="header-user-action" mat-icon-button color="warn" (click)="authenticated ? logout() : showLogin()">
      <mat-icon>{{authenticated ? 'logout' : 'login'}}</mat-icon>
    </button>
  </div>
  <div *ngIf="showForMobile">
    <button mat-icon-button color="light" (click)="switchTheme()">
      <mat-icon>{{isLightTheme ? 'dark_mode' : 'light_mode'}}</mat-icon>
    </button>
    <button mat-icon-button color="light" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item *ngFor="let opt of navOptions;" [routerLink]="opt.routingUrl"
         (click)="onOptionChanged(opt.id)">{{opt.label}}</a>
      <button mat-menu-item
              (click)="authenticated ? logout() : showLogin()">{{authenticated ? 'Logout' : 'Login'}}</button>
    </mat-menu>
  </div>
</mat-toolbar>
