<section class="movie-section">

  <app-movie-presenter [movies]="movies" [moviesView]="moviesView"
                       [columnAmount]="columnAmount"
                       [showDelete]="true"
                       [sortOpt]="sorting"
                       (viewChangedEvent)="onViewOptionChanged($event)"
                       (movieLikedEvent)="onMovieLikedOrDislike($event)"
                       (movieUpdateEvent)="onUpdateMovie($event)"
                       (movieDeleteEvent)="onDeleteMovie($event)"
                       (searchEvent)="onSearch($event)"
                       (sortEvent)="onSortingChanged($event)">
  </app-movie-presenter>

</section>

