.dialog-container {
  padding: 2em 2em;
}

.dialog-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.dialog-link {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  padding: 5px 0;
}
