.change-movie-view {
  margin-bottom: 20px;
}

.grid-container {

  .movie-card {
    height: 100%;
    width: 350px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.24);

    .image-bearer {
      position: relative;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
    }

    .movie-card-info {
      padding: 5px 20px;
    }

    .movie-card-title {
      display: block;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    .movie-card-year {
      display: block;
      font-size: 1em;
      margin-bottom: 10px;
    }

    .movie-card-income {
      font-size: 1em;
    }

    .movie-card-createdAt {
      font-size: 1em;
    }
  }

  .movie-list-card-item {
    height: 100%;
    width: 100%;

    .image-bearer {
      width: 300px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
      transition: .3s all;

      .delete-movie-btn {
        visibility: hidden;
      }

      &:hover {
        .delete-movie-btn {
          visibility: visible;
        }
      }
    }

    .movie-list-card-information {
      padding: 10px 20px;

      .movie-card-title {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      .movie-card-year {
        display: block;
        font-size: 1em;
        margin-bottom: 10px;
      }

      .movie-card-income {
        font-size: 1em;
      }

      .movie-card-createdAt {
        font-size: 1em;
      }
    }
  }

  .card-image {
    max-width: 100%;
    object-fit: contain;
  }

}

.movie-option {
  margin-right: 20px;
}
